<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>assignment id</tr>
        <tr>course code</tr>
        <tr>date</tr>
        <tr>grade</tr>
        {% for assignment in assignments %}
        <td>{{ assignment.assignment_id }}</td>
        <td>{{ assignment.course_code }}</td>
        <td>{{ assignment.date }}</td>
        <td>
            {% if assignment.grade is not none %}
                {{ assignment.grade }}
            {% else %}
                not graded yet
            {% endif %}
        </td>
                
    </table>
</body>
</html>