{% extends "base.html" %}
{% block content %}
    <table>
        <thead>
            <tr>
                <th>coursename</th>
                <th>courseCode</th>
                <th>enroll</th>
            </tr>
        </thead>
        <tbody>
        {% for course in courses %}
        <tr>
            <td>{{ course.name }}</td>
            <td>{{ course.code }}</td>
            <td>
                {% if course.code in registered_codes %}
                    <span class="badge pass">registered ✓</span>
                {% else %}
                    <button onclick="courseregister('{{ course.code }}',this)">register</button>
                {% endif %}
            </td>
        </tr>
        
        {% endfor %}
        </tbody>
    </table>

    <script>
        function courseregister(coursecode,buttonelement){
            fetch(`/registercourse/${coursecode}`,{method:'POST'} )
            .then(response => response.text())
            .then(data => {
                if (data ==='success'){
                    buttonelement.innerText="Registered ✓ ";
                    buttonelement.disabled=true;
                }
                else if(data == 'already registered'){
                    alert('already registered');

                }
                else{
                    alert('registration failed');
                }
            }
            )
        }

    </script>
{% endblock %}