<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    {% block body %}
    {% endblock %}
    {% if error == 'invalid credentials' %}
    <h5>invalid credentials.</h5>
    {% endif %}
    <form action="/login" method="post">

        <label for="">enter ur email:</label><input type="email" name="email" id="email">
        <label for="">enter ur password:</label><input type="password" name="password" id="password">
        
        <input type="submit" value="enter">
    </form>
    <p>New here? <a href="/newstudentpage">Register as a new student</a></p>
</body>
</html>