<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table>
        <tr>exam id</tr>
        <tr>course code</tr>
        <tr>date</tr>
        <tr>grade</tr>
        {% for exam in exams %}
        <td>{{ exam.exam_id }}</td>
        <td>{{ exam.course_code }}</td>
        <td>{{ exam.date }}</td>
        <td>
            {% if exam.grade is not none %}
                {{ exam.grade }}
            {% else %}
                not graded yet
            {% endif %}
        </td>
                
    </table>
    
</body>
</html>